.toppings-list {
	padding: 1rem 2rem 2rem;
	margin: 1rem;
	border-radius: 0.5rem;
	min-width: 9rem;
	border: solid 1px rgba(0,0,0,0.05);
	background-color: #c2c9ff;
	border-bottom: solid 4px #454a75;
}
.toppings p{
	color: rgba(0,0,0,0.75);
}
.toppings-price{
	font-size: 1.25rem;
}

.submit{
	
}